{% capture product_pricing %}
  {% if product.variable_pricing %}
    {{ product.min_price | money: theme.money_format }} - {{ product.max_price | money: theme.money_format }}
  {% else %}
    {{ product.default_price | money: theme.money_format }}
  {% endif %}
{% endcapture %}
{% capture overlay_title %}
  {% if product.has_option_groups %}
    Select {{ product.option_groups.count | pluralize: 'Option', 'Options' }}
  {% else %}
    Select Option
  {% endif %}
{% endcapture %}
<div class="product-images {% if product.images.size > 1 %}multiple-product-images{% else %}single-product-image{% endif %}">
  {% for image in product.images %}
    <div class="product-image {{ theme.product_image_display }}">
      <img alt="Image of {{ product.name | escape }}" src="{{ image | product_image_url | constrain: 2000 }}">
    </div>
  {% endfor %}
</div>

{% if product.status == 'active' %}
  <div class="full-screen-overlay product-option-overlay">
    <div class="header overlay-header">
      <div class="header-left">
        <button class="hamburger grow-cursor is-active close-product-option-overlay" type="button">
          <div>
          	<span></span>
          	<span></span>
          </div>
        </button>
      </div>

      <div class="overlay-title">{{ overlay_title }} — {{ product_pricing }}</div>
      <div class="header-placeholder">&nbsp;</div>
    </div>

    <div class="overlay-content centered-content">
      <form action="/cart" class="product-form {% if theme.show_sold_out_product_options %}show-sold-out{% else %}hide-sold-out{% endif %}" method="post">
        {% if product.has_default_option %}
          {{ product.option | hidden_option_input }}
        {% else %}
          <input type="hidden" name="cart[add][id]" id="option">
          {% if product.has_option_groups %}
            {% for option_group in product.option_groups %}
              <div class="product-option-group">
                <div class="product-option-group-title">Select {{ option_group.name }}</div>
                <ul class="options-list product-option-value-list product_option_group" data-unavailable-text="(Unavailable)" data-sold-text="(Sold out)" data-group-id="{{ option_group.id }}" data-group-name="{{ option_group.name | escape }}" name="option_group[{{ option_group.id }}]" aria-label="Select {{ option_group.name | escape }}">
                  {% for value in option_group.values %}
                    <li class="option-item product-option-item" data-option-id="{{ value.id }}" data-name="{{ value.name | escape }}">
                      <input class="product-option-value-radio" tabindex="0" type='radio' value='{{ value.id }}' data-name="{{ value.name | escape }}" name='option_group_{{ option_group.id }}' id="option_value_{{ value.id }}" />
                      <label class="product-option-value-label" for='option_value_{{ value.id }}'>{{ value.name }}</label>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          {% else %}
            <div class="product-options">
              <ul class="options-list" data-unavailable-text="(Unavailable)" data-sold-text="(Sold out)" data-group-id="{{ option_group.id }}" data-group-name="{{ option_group.name | escape }}" name="option_group[{{ option_group.id }}]" aria-label="Select {{ option_group.name | escape }}">
                {% for option in product.options %}
                  <li class="option-item product-option-item" data-option-id="{{ option.id }}" data-name="{{ option.name | escape }}" {% if option.sold_out %} disabled="disabled" disabled-type="sold-out"{% endif %}>
                    <input class="product-option-value-radio" data-option-id="{{ option.id }}" data-price="{{ option.price }}" tabindex="0" type='radio' value='{{ option.id }}' data-name="{{ option.name | escape }}" name="product_{{ product.id }}" id="option_value_{{ option.id }}" />
                    <label class="product-option-value-label" for='option_value_{{ option.id }}'>{{ option.name }}</label>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endif %}
        {{ product | product_quantity_input, 1, 'product-quantity', 'product-quantity' }}
        <button class="button add-to-cart-button" name="submit" type="submit" title="Add to Cart" data-adding-text="Adding..." data-added-text="Added!" data-add-title="Add to Cart" data-sold-title="Sold out"{% if product.has_default_option %}{% else %}disabled="disabled"{% endif %}>Add to Cart</button>
        {% if product.has_option_groups %}
          <div class="reset-selection-button-container">
            <button class="button minimal-button reset-selection-button grow-cursor" title="Reset selection" type="reset">Reset selection</button>
          </div>
        {% endif %}
      </form>
    </div>
  </div>
{% endif %}

{% assign product_status = '' %}
{% case product.status %}
  {% when 'active' %}
    {% if product.on_sale %}{% assign product_status = 'On Sale' %}{% endif %}
  {% when 'sold-out' %}
    {% assign product_status = 'Sold Out' %}
  {% when 'coming-soon' %}
    {% assign product_status = 'Coming Soon' %}
{% endcase %}

<div class="mobile-product-title show-mobile-portrait">{{ page.name }}</div>
<div class="mobile-product-subtitle show-mobile-portrait">{% if product_status != blank %}{{ product_status }} — {% endif %}{{ product_pricing }}</div>


{% if product.description != blank %}
  <div class="product-description">
    {{ product.description | paragraphs }}
  </div>
{% endif %}

{% if product.status == 'active' %}
  {% if product.has_default_option %}
    <button class="button add-to-cart-button product-page-button" type="submit" data-adding-text="Adding..." data-added-text="Added!">
      <span class="status-text">Add to Cart</span>
    </button>
  {% else %}
    <button class="button select-option-button product-page-button" type="submit">
      <span class="status-text">{{ overlay_title }}</span>
    </button>
  {% endif %}
{% endif %}

{% if product.images.size > 1 %}
  <div class="arrow arrow-previous"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 33.9"><path d="M46 16.2H2.9L18 1.1 17 0 1.1 15.9 0 17l1.1 1L17 33.9l1-1L2.9 17.7H46z"/></svg></div>
  <div class="arrow arrow-next"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 33.9"><path d="M0 17.7h43.1L28 32.9l1 1L44.9 18l1.1-1-1.1-1.1L29 0l-1 1.1 15.1 15.1H0z"/></svg></div>
{% endif %}